<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ImgLib</title>
    <link
        href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAfP98ALz/vAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARARAAAAAAASISIQAAAAABIiIhAAAAARASIhARAAASIQEhASIQABIiEBASIhAAASIhASIhAAASIhAQEiIQABIhASEBIhAAARASIhARAAAAASIiIQAAAAABIhIhAAAAAAARARAAAAAAAAAAAAAAD//wAA+T8AAPAfAADgDwAAwAcAAIADAAAAAQAAAAEAAIADAAAAAQAAAAEAAIADAADABwAA4A8AAPAfAAD5PwAA"
        rel="icon" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/s/styles/jquery-ui.min.css}">
    <link rel="stylesheet" th:href="@{/s/styles/main.css}">
    <script type="text/javascript" th:src="@{/s/scripts/jquery-3.6.0.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/s/scripts/jquery-ui.min.js}" defer></script>
    <script type="text/javascript" th:src="@{/s/scripts/main.js}" defer></script>
</head>

<body>
    <p th:insert="fragments/header.html :: header"> </p>
    <div>
        <p th:text="'Page: '+ ${currentPage} + ' of ' + ${totalPages}"></p>
        <a th:if="${currentPage-1>=0}" th:href="'/index?p='+ ${currentPage-1}">Prev</a>
        <a th:if="${currentPage<totalPages}" th:href="'/index?p='+ ${currentPage+1}">Next</a>
    </div>
    <div class="imageGrid">
        <div th:each="image : ${images}">
            <div th:each="storage: ${image.storage}">
                <div th:if="${storage.quality=='tiny'}" class="imageGridItem">
                    <pre><p th:text="${image.name}"></p></pre>
                    <img class="imageOnGrid" onclick="imageBigView(this)" th:id="${image.imageId}"
                        th:src="${imageHost}+${storage.relativePath}" />
                </div>
            </div>
        </div>
    </div>
    <div id="imageOverlay"></div>
</body>

</html>